@page "/secret"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Secret Page</PageTitle>

<h1>Secret Page</h1>

<p>This page is protected. Only authenticated users can see this.</p>
@code {

}
