@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@code {
    [Inject] NavigationManager Navigation { get; set; }

    void BeginLogin() => Navigation.NavigateTo("authentication/login");

    void BeginLogout() => Microsoft.AspNetCore.Components.WebAssembly
    .Authentication.NavigationManagerExtensions.NavigateToLogout(Navigation, "authentication/logout");
}
<PageTitle>Home</PageTitle>

<h1>Authentication example with auth0</h1>
<hr>
<AuthorizeView>
    <Authorizing>
        <p>Loading authentication...</p>
    </Authorizing>
    <Authorized Context="auth">
        <span>Hello @auth.User.Identity?.Name!</span><br />
        <button @onclick="BeginLogout" class="btn btn-link">Logout</button>
        <ul>
            @foreach (var claim in auth.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        <button @onclick="BeginLogin" class="btn btn-link">Login</button>
    </NotAuthorized>
</AuthorizeView>
